body#body_plugin_downloads table.fieldset tr td.field {
	padding-top: 0.6em;
	vertical-align: top;
}

body#body_plugin_downloads table.fieldset tr td.help {
	padding-top: 0.8em;
	vertical-align: top;
}

body#body_plugin_downloads table.fieldset tr td.field,
body#body_plugin_downloads table.fieldset tr td.field input.date {
	font-size: small;
}

body#body_plugin_downloads textarea.textbox {
	height: 100px;
}

body#body_plugin_downloads #setup.no {
	padding: 1em;
	color: white;
	background-color: #c92f0d;
}

body#body_plugin_downloads #setup a {
	padding: 1em;
	color: #c92f0d;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

body#body_plugin_downloads #setup a:hover {
	color: #a8280c;
	background-color: #ececec;
}

body#body_plugin_downloads #setup a:active {
	color: #fefffe;
	background-color: #ba1b0d;
}

body#body_plugin_downloads .graph {
	padding-top: 1em;
	padding-bottom: 5em;
}

body#body_plugin_downloads span.back-button {
	padding: 1em;
	color: white;
	background-color: #c92f0d;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

body#body_plugin_downloads .back-button a {
	color: white;
}

body#body_plugin_downloads p.back-button {
	padding-top: 1em;
	padding-bottom: 1.5em;
}